body {
  background-color: #dfffee;
  color: #000000;
}

textarea {
  resize: vertical;
}

a.title_text {
  color: #050044;
  text-decoration:none;
}

span.footer_text {
  color: #000000;
  text-align: center; 
}

a.footer_text {
  color: #000000;
  text-align: center; 
}

span.header_text {
  padding-left: 10px;
  color: #000000;
}

h2{
  padding: 0.5em;
  color: #4fcdff;
  background-color: #20b2aa;
  border-left: solid 5px #6872ff;
}

div.right {
    text-align: right; 
    background-color: #b9b9ff;
}

div.toto {
    background-color: #b9b9ff;
}

div.github_etc {
    text-align: right; 
}

div.pack_flame {
    background-color: #aeafff;
	padding: 10px;
	display: flex;
	margin-bottom: 5px;
}

div.text_content {
	padding-left: 10px;
}

span.pack_name {
	font-size: 130%;
}

a {
	color: #005804;
}
